/* Estimates specific styles */
.text-right {
    text-align: right;
}

.w-1\/2 {
    width: 50%;
}

.w-1\/3 {
    width: 33.333333%;
}

.border-b {
    border-bottom-width: 1px;
}

.pb-8 {
    padding-bottom: 2rem;
}

.pt-6 {
    padding-top: 1.5rem;
}

.uppercase {
    text-transform: uppercase;
}

.tracking-wide {
    letter-spacing: 0.025em;
}

.bg-yellow-400 {
    background-color: #facc15;
}

.overflow-y-auto {
    overflow-y: auto;
}